<!DOCTYPE html>
<html lang="en">
  <head>
    <title>NodeJS Example</title>
    <meta charset="utf-8">
    <meta name="description"  content="This is the about page">
    <meta name="author"       content="Tundra Fizz">
    <link rel="shortcut icon" href="/img/icon.jpg">
    <link rel="stylesheet"    href="/css/theme.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="/js/about.js"></script>
    <script>var people = <%- JSON.stringify(people) %></script>
  </head>

  <body>
    <div class="content">
      <form id="target">
        <table>
          <tr>
            <td>First Name</td>
            <td><input type="text" name="firstName" style="border: 2px solid transparent;"></td>
          </tr>
          <tr>
            <td>Last Name</td>
            <td><input type="text" name="lastName"></td>
          </tr>
          <tr>
            <td>Age</td>
            <td><input type="text" name="age"></td>
          </tr>
          <tr>
            <td colspan="2">
              <button type="button" onclick="SubmitForm();" >Submit</button>
            </td>
          </tr>
        </table>
      </form>

      <table id="results" border="1"></table>
    </div>
  </body>
</html>
